source https://api.nuget.org/v3/index.json
storage: none
framework: net8.0, netstandard2.1

nuget FSharp.Core >= 6
nuget Expecto
nuget Fable.Mocha

source https://nuget.pkg.github.com/joprice/index.json username: "%PRIVATE_FEED_USER%" password: "%PRIVATE_FEED_PASS%" authtype: "basic"
nuget Thoth.Json.Core 0.3.1-alpha
nuget Thoth.Json.Newtonsoft 0.3.1-alpha
nuget Thoth.Json.Javascript 0.3.1-alpha
nuget Thoth.Json.Python 0.3.1-alpha
